<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobileapplication">

    <uses-permission android:name="android.permission.CAMERA"
        android:required="true"
        android:requiredFeature="true"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_dstock"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_dstock"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileApplication">
        <activity
            android:name=".Settings"
            android:exported="true" />
        <activity
            android:name=".OnBoarding"
            android:exported="true" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.mobileapplication.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".Edit_item_Activity"
            android:exported="true"
            android:label="ITEMS > EDIT ITEM" />
        <activity
            android:name=".ItemCalculation"
            android:exported="true"
            android:label="ITEMS > ITEM CALCULATION" />
        <activity
            android:name=".Create_item_Activity"
            android:exported="true"
            android:label="ITEMS > CREATE AN ITEM" />
        <activity
            android:name=".View_item_Activity"
            android:exported="true"
            android:label="ITEMS > VIEW A SINGLE ITEM" />
        <activity
            android:name=".ModifyRoute"
            android:exported="true" />
        <activity
            android:name=".AddRoute"
            android:exported="true" />
        <activity
            android:name=".Sales"
            android:exported="true"
            android:label="SALES" />
        <activity
            android:name=".AddSalesOrder"
            android:exported="true" />
        <activity
            android:name=".ViewSalesOrder"
            android:exported="true" />
        <activity
            android:name=".SalesSummary"
            android:exported="true" />
        <activity
            android:name=".UpdatePayment"
            android:exported="true" />
        <activity
            android:name=".Routes"
            android:exported="true"
            android:label="ROUTES" />
        <activity
            android:name=".Customers"
            android:exported="true" />
        <activity
            android:name=".AddCustomer"
            android:exported="true" />
        <activity
            android:name=".ViewCustomer"
            android:exported="true" />
        <activity
            android:name=".Items"
            android:exported="true"
            android:label="ITEMS" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="APP NAME" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>